<mat-card>
  <mat-spinner *ngIf="isLoading" ></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="POST TITLE"
      />
      <mat-error *ngIf="form.get('title').invalid">RETRY!</mat-error>
    </mat-form-field>
      <div>
        <button mat-stroked-button type="button" color="primary" (click)="filePicker.click()">PICK IMAGE</button>
        <input type="file" #filePicker (change)="selezionaFile($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        formControlName="content"
        placeholder="POST CONTENT"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">RETRY!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">SAVE POST</button>
  </form>
</mat-card>


